.login-pg {
    background-color: rgb(24, 25, 36);   
    color: rgb(255, 253, 226);
    padding: 10px;
}
.login-btn{
    background-color:  rgb(24, 25, 36);
    color: rgb(255, 255, 255);
    border: 2px solid #4CAF50;
    text-decoration: none;
    border-radius: 40px;
    padding: 2px;
    margin:45px;
}
.name{
    position:relative;
    top:5px;
}
.login-a {
    text-decoration: none;
    color: #5fc563;
    padding: 20px;
    font-size: 20px;
    position: relative;
    top: 14px;
}
.login-a:hover{
    color: #376139;
}
.spot{
    position: relative;
    height: 30px;
    width: 30px;
    padding: 10px;
    float: left;
    display:inline;
    left:10px;
}
.login-btn-div{
    display:flex;
    justify-content: center;
}
p{
    padding: 20px;
    font-family: 'Prompt', sans-serif;
    position:relative;
    
}
.info{
    display:flex;
    justify-content: center;
    padding: 10px;
}
.info img{
    position: relative;
    width: 38px;
    height: 38px;
    display:inline;
    top: 32px;
}
/* button:hover{
    border-color: #376139;
} */