.login-pg {
    background-color: rgb(24, 25, 36);
    color: rgb(255, 253, 226);
    height: 100vh;
    padding: 100px;
}
button{
    background-color:  rgb(24, 25, 36);
    color: rgb(255, 255, 255);
    border: 2px solid #4CAF50;
    text-decoration: none;
    border-radius: 40px;
    padding: 10px;
    
}
a {
    text-decoration: none;
    color:rgb(88, 182, 79);
    padding: 20px;
    font-size: 20px;
    position: relative;
    top: 14px;
}
a:hover{
    color: #376139;
}
.spot{
    height: 30px;
    width: 30px;
    padding: 10px;
    float: left;
    display:inline;
}
.login-btn-div{
    display:flex;
    justify-content: center;
}
/* button:hover{
    border-color: #376139;
} */