

.login-pg {
    background-color: rgb(24, 25, 36);
    color: rgb(255, 253, 226);
    height: 100vh;
}

.login-title {
    font-size: 64px;
    font-family: 'Pacifico', cursive;
}

button {
    padding: 0px,
}