li{
    display: inline-block;
    margin-right: 80px;
    color: antiquewhite;
    font-size: 22px;
}
nav span:hover{
    color:rgb(136, 207, 127);
    border-bottom: solid 3px;
    border-color: rgb(136, 207, 127);
    border-radius: 3px;
    
}
a{
    text-decoration: none;
    color: antiquewhite;
}
nav a:hover{
    color:rgb(136, 207, 127);
    border-bottom: solid 3px;
    border-color: rgb(136, 207, 127);
    border-radius: 3px;
}
nav ul li{
    padding: 0 30px;
    bottom: 0;
}
nav{
    position:relative;
    top: 700px;
}
